# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Next.js
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Database
postgres_data/
*.db
*.db-journal
dev.db
prisma/dev.db

# Uploads
uploads/

# Docker
.dockerignore

# Production
.vercel





